<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>------</title>
    {% include 'includes/head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/splash.css') }}" />
    <link href="http://fonts.googleapis.com/css?family=Exo+2:100" rel="stylesheet" type="text/css">
  </head>
  <body class="valign-wrapper">
    <div class="container valign center-align">
      <div class="row">
        <div class="col s12">
          <h1 class="logo">Our Sweet Site</h1>
          <h3>Subtitle Goes Here </h3>
          <h3> Hello {{ noun }} </h3>
          <a href="/word" > click </a>
          <script>
          $(document).ready(function()
          {
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
            socket.on('my response', function(msg) {
                $('#log').append('<p>Received: ' + msg.data + '</p>');
            });
            $('form#emit').submit(function(event) {
                socket.emit('my event', {data: $('#emit_data').val()});
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
                return false;
            });
        });
          </script>
        </div>
      </div>
    </div>
  </body>
</html>